

/*FORMULARIO*/

.formulario{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 80px;
    font-size: $xsmall;
}



//Media queries

@media (min-width:320px) and (max-width: 640px){
    .formulario{
        padding-left: 50px;
        padding-right: 50px;
        font-size: 15px;
    }
}

@media (max-width: 390px){
    .formulario{
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
        font-size: 12px;
    }
}